body{
    background-color: black;
}


.container{
    display: flex;
    width:1vw;
    height:auto;
}

.card{
    margin:0 2em 0 2em;   
}

img{
    width: 60vw;
    height:auto;
}
.breath{
    animation: breath 2.5s infinite; 
}

  @keyframes breath {
    0%{
        opacity:70%;
    }
    50%{
        opacity:100%
    }
    100%{
        opacity:70%;
    }
  }

p{
    margin-top:0.125em;
    padding-top:0.125em;
    font-family:serif;
    font-size:1.5em;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:2em;
    margin:0.25em;
}
h1{
    color:white;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
h3{
    color:white;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
button{
    background-color:transparent;
    color: white;
    border:none;
    padding: 1em 0 5em 0;


    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.carcon{
    display:fixed;
    width:80vw;
    height:auto;
}
   /* smaller cellphones: */
 @media screen and (max-width: 769px){

}

/* ipad*/
@media screen and (min-width:1023px){

    img{
        width: 30vw;
        height:auto;
    }

    button{
        font-size: 105%;
    }
    .carcon{
        width:40vw; 
    }
}

/* large laptop*/
@media screen and (min-width:1349px){
    img{
        width: 20vw;
        height:auto;
    }
    
    button{
        font-size: 105%;
    }
    .carcon{
        width:30vw; 
    }
}

/* 4k: */
@media screen and (min-width:2449px){
    img{
        width: 20vw;
        height:auto;
    }
    button{
        font-size: 110%;
    }
}